.subsubmenu {
    left: 160px !important;
    list-style: none outside none !important;
    overflow: visible !important;
    position: absolute !important;
    display: none;
    word-wrap: break-word !important;
    top: 0;
    margin: 0 !important;
}

.subsubmenu:hover {
    display: block;
}

#toplevel_page_wpclients ul.wp-submenu li:hover ul.subsubmenu {
    display: block !important;
}

#adminmenu #toplevel_page_wpclients .wp-submenu {
    width: 160px;
}

#adminmenu .wp-has-current-submenu .wp-submenu {
    z-index: 9999;
}